*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    line-height: 1.6;
    color: black;
    background: white;
}

.topbar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: wheat;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 400px;
    margin-top: 10px;
}

.nav-item
{
    text-decoration: none;
    color: #171211;
}

.symbol{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 400px;
    margin-top: 10px;
}

.hero-container
{
    display: flex;
    padding: 48px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.hero-name h1
{
    font-size: 48px;
    font-weight: bold;
}

.hero-des
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skill-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

.skill-container h2{
    font-size: 32px;
}

.skill-list
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.languages, .ml-dl, .libraries , .data
{
    display: flex;
    flex-direction: row;
    margin: 10px;
    font-size: 20px;
    align-items: center;
    justify-content: start;
    border: 1px solid #EEEEEE;
    padding: 7px;
    padding-left: 20px;
    width: 1000px;
}


.languages p, .ml-dl p, .libraries p, .data p
{
    margin-left: 10px;
}

.projects
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

.projects h2{
    font-size: 25px;
}

.projects-list
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.handeritten, .object-color, .automated 
{
    display: flex;
    flex-direction: row;
    margin: 10px;
    font-size: 20px;
    align-items: center;
    justify-content: start;
    border: 1px solid #EEEEEE;
    padding: 7px;
    padding-left: 20px;
    width: 1000px;
}


.handeritten p, .object-color p, .automated p
{
    margin-left: 30px;
}

.contact
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
}

.contact-links
{
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: row;
}

.contact-links a
{
    text-decoration: none;
    color: #171211;
    font-size: 20px;
    padding: 10px 20px;
    border: 1px solid #EEEEEE;
}
